* {
  font-family: sans-serif;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr, .inicio-session {
  background-color: #7CD1B8;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.inicio-session {
  border-radius: 5px;
  margin-left: 40%;
  margin-right: 40%;
}

.inicio-session legend, label, input {
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.inicio-session label {
  text-align: center;
}

.iniciar-session {
  cursor: pointer;
  border-radius: 10px;
}

.iniciar-session:hover {
  background-color: #FAEDC6;
} 

.cierre-session, .info-session, .session-atras, p {
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 5px;
  margin: 2px;
  font-weight: bold;
  cursor: pointer;
}

.info-usuario li {
  list-style: none;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  margin-right: 40px;
  width: auto;
}

h4 {
  font-size: 2em;
  color: #3E8E7E;
} 

p {
  background-color: #7CD1B8;
  color:  #B6092E;
  margin-left: 30%;
  margin-right: 30%;
}